@section scripts {
    <script src="~/Scripts/bookservice.js"></script>
}

<div class="page-header">
    <h1>BookService</h1>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Books</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" id="books">
                    <li>
                        <strong><span class="AuthorName"></span></strong>: <span class="Title"></span>
                        <small><a href="#">Details</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" id="cuadroerror"><p id="textoerror"></p></div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detail</h2>
            </div>
            <table class="table">
                <tr><td>Author</td><td id="AuthorName"></td></tr>
                <tr><td>Title</td><td id="Title"></td></tr>
                <tr><td>Year</td><td id="Year"></td></tr>
                <tr><td>Genre</td><td id="Genre"></td></tr>
                <tr><td>Price</td><td id="Price"></td></tr>
            </table>
        </div>
    </div>

    <div class="col-md-4">
        <!-- TODO: Add new book -->
    </div>
</div>